@model CadastroCS.Models.Fornecedor

@{
    ViewData["Title"] = "Cadastrar Fornecedor";
}

<h1>Cadastro de Fornecedor</h1>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Cadastro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="col-md-6">
                
                    <div class="form-group">
                        <label asp-for="Cnpj" class="control-label"></label>
                        <input asp-for="Cnpj" class="form-control" />
                        <span asp-validation-for="Cnpj" class="text-danger"></span>
                    </div>
                
                </div>

            </div>
            
            <div class="form-group">
                <label asp-for="Segmento" class="control-label"></label>
                <select asp-for="Segmento" class="form-control"></select>
                <span asp-validation-for="Segmento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cep" class="control-label"></label>
                <input id="Cep" asp-for="Cep" class="form-control" />
                <span asp-validation-for="Cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input id="Endereco" asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Perfil" class="control-label"></label>
                <input asp-for="Perfil" class="form-control" />
                <span asp-validation-for="Perfil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    campo_cep = document.getElementById("Cep")

    campo_cep.addEventListener('input', function () {
        campo_endereco = document.getElementById("Endereco")
        if (campo_cep.value.length == 8) {

            ViaCep(campo_cep.value, function(endereco_str) {
                
                campo_endereco.value = endereco_str
            
            })

        }
        else {

            campo_endereco.value = "";

        }
    });

    function ViaCep(cep, callback) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'https://viacep.com.br/ws/' + cep + '/json/')
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var data = JSON.parse(xhr.responseText);
                var str = data['logradouro'] + ', ' + data['bairro'] + ', ' + data['localidade'] + ', ' + data['uf'];
                callback(str)
            }
        };
        xhr.send();
    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
