@model CadastroCS.Models.Fornecedor

@{
    ViewData["Title"] = "Cadastrar Fornecedor";
}

<h1>Cadastro de Fornecedor</h1>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Cadastro">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row">
                <div class="mb-3 col-md-6">
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" maxlength="102"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                
                <div class="mb-3 col-md-6">
                
                    <div class="form-group">
                        <label asp-for="Cnpj" class="control-label">CNPJ</label>
                        <input asp-for="Cnpj" class="form-control"/>
                        <span asp-validation-for="Cnpj" class="text-danger"></span>
                    </div>
                
                </div>

            </div>
            
            <div class="row">

                <div class="col-md-6">

                    <div class="mb-3 form-group">
                        <label asp-for="Segmento" class="control-label"></label>
                        <select asp-for="Segmento" class="form-control" >
                            <option value="">Selecione uma opção</option>
                            <option value="1">Comércio</option>
                            <option value="2">Serviço</option>
                            <option value="3">Indústria</option>
                        </select>
                        <span asp-validation-for="Segmento" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <label asp-for="Cep" class="control-label">CEP</label>
                        <input id="Cep" asp-for="Cep" class="form-control"/>
                        <span asp-validation-for="Cep" class="text-danger"></span>
                    </div>
                    <div class="mb-3 form-group">
                        <label asp-for="Endereco" class="control-label"></label>
                        <input id="Endereco" asp-for="Endereco" class="form-control" maxlength="255"/>
                        <span asp-validation-for="Endereco" class="text-danger"></span>
                    </div>

                </div>

                <div class="col-md-6">
                    <div>
                        <div class="p-4 mb-4 d-flex justify-content-center">
                            <img id="selectedImage" src="~/profiles/default.png"
                                 alt="example placeholder" style="width: 200px;" />
                        </div>
                        <div class="d-flex justify-content-center">
                            <div data-mdb-ripple-init class="btn btn-secondary btn-rounded btn-sm">
                                <label class="form-label text-white m-1" for="imageInput" style="cursor:pointer">Enviar imagem</label>
                                <input type="file" class="form-control d-none" id="imageInput" accept=".png" onchange="ExibirImagem(event, 'selectedImage')" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    campo_cep = document.getElementById("Cep")

    campo_cep.addEventListener('input', function () {
        campo_endereco = document.getElementById("Endereco")
        if (campo_cep.value.length == 8) {

            ViaCep(campo_cep.value, function(endereco_str) {
                
                campo_endereco.value = endereco_str
            
            })

        }
        else {

            campo_endereco.value = "";

        }
    });

    function ViaCep(cep, callback) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', 'https://viacep.com.br/ws/' + cep + '/json/')
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var data = JSON.parse(xhr.responseText);

                var str = "";
                if (data['logradouro'] != undefined) { str += data['logradouro'] }
                if (data['bairro'] != undefined) { str += ', ' + data['bairro'] }
                if (data['localidade'] != undefined) { str += ', ' + data['localidade'] }
                if (data['uf'] != undefined) { str += ', ' + data['uf'] }

                var str_encurtada = str.length > 255 ? str.slice(0, 255) : str
                callback(str_encurtada)
            }
        };
        xhr.send();
    }

    function ExibirImagem(evento, imagem) {

        input = event.target;
        elemento_imagem = document.getElementById(imagem);

        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                elemento_imagem.src = e.target.result;
            };

            reader.readAsDataURL(input.files[0]); 
        }

    }

    function EnviarMensagemSeHouver(evento) {

        input = document.getElementById("imageInput");
        var file = fileInput.files[0];

        if (file) {

            var formData = new FormData();
            formData.append("image", file);

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/Fornecedores/UploadImage", true);

        }

    }

</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
